* {
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  line-height: 1.2;
}

body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  max-width: 40rem;
}

ul {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  padding-left: 1em;
  max-width: 40rem;
}

ol {
  padding-left: 2em;
  max-width: 40rem;
}

li {
  max-width: 40rem;
  padding: 0.1em;
}

ol > li,
ol > li > ul > a,
li > ul > li:nth-child(1) {
  font-weight: 800;
}

nav,
footer {
  padding: 1em;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  margin-top: 1em;
  font-family: "Fira Mono", monospace;
  font-display: swap;
  overflow-wrap: break-word;
}

blockquote {
  max-width: 38rem;
  background-color: #f4f4f4;
  padding: 1em;
}

aside {
  max-width: 38rem;
  background-color: #f4f4f4;
  padding: 1em;
}

aside > figure {
  border-bottom: solid 1px #000;
  padding-bottom: 1em;
}

aside > figure:last-child {
  border-bottom: none;
}

h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 0;
  background-color: #346;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  max-width: 40rem;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  padding-top: 4pt;
  padding-bottom: 4pt;
  max-width: 40rem;
}

h4 {
  max-width: 40rem;
}

a {
  color: #346;
}

img {
  display: block;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

figure {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

figcaption {
  padding-top: 1em;
  text-align: center;
  max-width: 30rem;
}

.small-img {
  max-width: 20rem;
}

.return {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #346;
}

table {
  max-width: 60rem;
}

td > ul > li {
  width: 30vw;
  margin-left: 2em;
  list-style: none;
}

td > li {
  list-style: none;
}

thead > * {
  text-transform: uppercase;
}

tr {
  padding-bottom: 1em;
  border: solid 1px #000;
}

td {
  border-bottom: solid 1px #000;
}

td:nth-child(2n) {
}

audio {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

video {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#profile {
  width: 300px;
  height: 320px;
  margin-left: 0px;
  padding: 2em 1em 2em 0em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: flex-start;
}

.container ul {
  padding-top: 2em;
  margin-left: 0px;
}

.note {
  color: #346;
  background-color: #f4f4f4;
  max-width: 33rem;
  padding: 1em;
  text-align: center;
  border: solid 2px #000;
}

@media only screen and (max-width: 600px),
  only screen and (max-device-width: 600px) {
  * {
    max-width: 98%;
  }

  .container ul {
    padding-top: 2em;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 450px),
  only screen and (max-device-width: 450px) {
  * {
    max-width: 98%;
  }

  #profile {
    margin-left: auto;
    margin-right: auto;
  }

  .container ul {
    padding-top: 0em;
    margin-left: 0px;
  }

  li {
    padding: 0.5em 0em 0em 0em;
  }

  table {
    max-width: 98vw;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: #000;
    color: #eee;
  }

  .note,
  blockquote,
  blockquote > em {
    background-color: #346;
    color: #eee;
  }

  .note {
    border-color: #fff;
  }

  aside {
    max-width: 38rem;
    background-color: #346;
    padding: 1em;
  }

  aside > .return {
    background-color: #346;
    color: #cecece;
    font-weight: 600;
  }

  aside > h3 {
    background-color: #346;
  }

  aside > figure {
    border-bottom: solid 1px #fff;
    background-color: #346;
    padding-bottom: 1em;
  }

  figure > *,
  figure,
  figcaption > table > thead > tr > td,
  figcaption > table > tbody > tr > td,
  figcaption > table > thead > tr > td > sup {
    background-color: #346;
    border: none;
  }

  a {
    color: #7795d1;
    background-color: #fff0;
  }

  p {
    font-weight: 500;
  }
}
