<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP7.4-FastCGI" />
            <add name="PHP8.2-FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php\8.2\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
